.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

/* Barra Superior */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;         /* Centraliza verticalmente */
  justify-content: center;     /* Centraliza horizontalmente */
  gap: 1rem;
  flex: 1;                     /* Ocupará o espaço disponível entre as logos */
  margin: 0 2rem;              /* Espaço entre as logos e os botões */
}

/* Estilo dos botões do header */
.navButton {
  background-color: #00734a;
  color: #fff;
  border: none;
  padding: 1rem 2rem;         /* Aumenta o espaço interno do botão */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  flex: 1;                   /* Faz com que cada botão ocupe igualmente o espaço disponível */
  font-size: 1.2rem;
}

.navButton:hover {
  background-color: #005f3a;
}

/* Container para posicionar o dropdown */
.dropdownContainer {
  position: relative;
}

/* Dropdown (menu em cascata) */
.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #00734a;
  padding: 0.5rem 0;
  margin-top: 0.2rem;
  border-radius: 4px;
  list-style: none;
  min-width: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdownItem {
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #005f3a;
}

.cityLogo {
  display: flex;
  align-items: center;
}

/* Banner */
.bannerSection {
  position: relative;
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/banner-sao-jose.png');
  background-size: cover;
  background-position: center;
  margin-top: 0;
}

.bannerContent {
  text-align: center;
  color: #fff;
}

.bannerLogo {
  max-width: 150%;
  height: auto;
}

.bannerTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

/* Conteúdo Principal */
.contentSection {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #555;
}
